<% context='views.organizers.mailer.reset_password_instructions' %>
<p> <%= t("#{context}.greeting") %> <%= @resource.email %>!</p>

<p><%= t("#{context}.text") %></p>

<p><%= link_to t("#{context}.link"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t("#{context}.warning1") %></p>
<p><%= t("#{context}.warning2") %></p>
